* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; /*Aplicar bien el padding en algunos lugares*/
  text-decoration: none; /*Quitar las lineas de los enlaces*/
  font-family: sans-serif;
}

.menu-principal {
  margin: 15px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}

.ubicacion,
.telefono {
  display: flex;
  align-items: center;
  gap: 10px;
}

.consultorio-amigo {
  display: flex;
  align-items: center;
  gap: 7.5px;
}

.menu {
  height: 35px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 10px;
  flex-direction: row;
}

.menu a {
  padding: 60px;
  justify-content: space-between;
}

.titulo1 {
  cursor: default;
  color: #ffffff;
  justify-content: center;
  display: flex;
}

.titulo2 {
  justify-content: center;
  color: #ffffff;
  display: flex;
}

.doctores {
  height: 300px;
  width: 150px;
  display: flex;
}

.titulo4 {
  justify-content: center;
  color: white;
  display: flex;
  font-size: 50px;
}

a {
  color: #000000;
  text-decoration: none;
}

.titulo5 {
  justify-content: center;
  color: black;
  display: flex;
}

.titulo-oscuro {
  color: black;
  display: flex;
  justify-content: center;
}

.subtitle {
  color: #ffffff;
}

.header {
  height: 300px;
}

.nuestra_clinica {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../assets/Principal/Medicina2.jpg);
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.contenedor {
  font-size: 50px;
  margin: 0 auto;
}

.servicios-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.servicios-container div {
  background-color: white;
  height: 170px;
  width: 200px;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.servicios-container div p {
  text-align: center;
  font-size: 20px;
}

.serviccios,
p {
  color: black;
  text-decoration: none;
}

.servicios {
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 20px;
  border-radius: 2.5px;
  overflow: hidden;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.2);
  transition: all 400ms ease;
}
.servicios:hover {
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.4);
  transform: translateY(3%);
}

.objetivo {
  height: 600px;
}

.nuestro-objetivo {
  height: 600px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 30px;
  gap: 20px;
  justify-content: flex-start;
}

.acerca-nosotros div {
  background-color: black;
  height: 50px;
  width: 50px;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  align-items: center;
}

.hospital-edificio div {
  height: 100px;
  width: 100px;
}

.clase {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.acerca-nosotros {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 300px;
  width: 150px;
  display: flex;
  background-color: blue;
}

.doctores {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.doctores div {
  background-color: #e3dac9;
  height: 150px;
  width: 200px;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  align-items: center;
}

.convenios-container {
  height: 650px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../assets/Principal/Medicina2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.convenio {
  flex-direction: column;
  display: flex;
  align-items: center;
  gap: 10px;
}

.convenios {
  color: white;
}

.convenios1234 {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.servicio_farmaceutico {
  object-fit: cover;
}

.consejeria_medica {
  object-fit: cover;
}

.Hospitalizacion_casa {
  object-fit: cover;
}

.odontologia {
  object-fit: cover;
}

.personal {
  width: 100%;
  height: 500px;
  background-color: #e3dac9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.carrusel {
  width: 100%;
  display: flex;
}
.carrusel a {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.noticias-container {
  height: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.noticia {
  width: 100%;
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  transition: all 400ms ease;
}

.noticia:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}

.noticia img {
  width: 100%;
  height: 200px;
}

.noticia .contenido {
  padding: 15px;
  text-align: center;
}

.noticia .contenido p {
  line-height: 1.5;
  color: gray;
}

.noticia .contenido h3 {
  font-weight: 400;
  margin-bottom: 15px;
}

.noticia .contenido a {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  color: #5fd1b8;
  border: 1px solid #5fd1b8;
  border-radius: 4px;
  transition: all 400ms ease;
}

.noticia .contenido a:hover {
  background-color: #5fd1b8;
  color: #ffffff;
}

.pie_pagina {
  width: 100%;
  height: 150px;
  margin: 0 auto;
  background-color: #5fd1b8;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.facebook {
  height: 40px;
  width: 40px;
}

.instagram {
  height: 40px;
  width: 40px;
}

.whatsapp {
  height: 40px;
  width: 40px;
}

.conteiner-copyright {
  width: 100%;
}

.copyright {
  margin-top: 20px;
}
