* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; /*Aplicar bien el padding en algunos lugares*/
  text-decoration: none; /*Quitar las lineas de los enlaces*/
  font-family: sans-serif;
}

.principal {
  height: 125px;
  display: flex;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  background-color: #ffffff;
  height: 50px;
  box-sizing: border-box;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titulo1 {
  cursor: default;
  color: #ffffff;
  justify-content: center;
  display: flex;
}

.titulo2 {
  justify-content: center;
  color: #ffffff;
  display: flex;
}

.nuestro-objetivo {
  align-items: center;
  display: flex;
}

.acerca-nosotros {
  height: 300px;
  width: 150px;
  display: flex;
  background-color: blue;
}

.doctores {
  height: 300px;
  width: 150px;
  display: flex;
  background-color: green;
}

.titulo4 {
  justify-content: center;
  color: #ffffff;
  display: flex;
}

.titulo5 {
  justify-content: center;
  color: #ffffff;
  display: flex;
}

.titulo-oscuro {
  color: black;
  display: flex;
  justify-content: center;
}

.subtitle {
  color: #ffffff;
}

.header {
  height: 300px;
}

.logo {
  height: 50px;
  width: 25px;
}

.telefono {
  height: 50px;
  width: 25px;
}

.ubicacion {
  height: 50px;
  width: 25px;
}

.nuestra_clinica {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../assets/Principal/Medicina2.jpg);
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.contenedor {
  font-size: 50px;
  margin: 0 auto;
}

.servicios-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.servicios-container div {
  background-color: white;
  height: 170px;
  width: 200px;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.servicios-container div p {
  text-align: center;
  font-size: 20px;
}

.servicios {
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 20px;
  border-radius: 2.5px;
  overflow: hidden;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.2);
  transition: all 400ms ease;
}
.servicios:hover {
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.4);
  transform: translateY(3%);
}

.objetivo {
  height: 600px;
}

.nuestro-objetivo {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.acerca-nosotros {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 75%;
}

.acerca-nosotros div {
  background-color: white;
  height: 150px;
  width: 200px;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  align-items: center;
}

.hospital-edificio {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.doctores {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 75%;
}

.doctores div {
  background-color: #e3dac9;
  height: 150px;
  width: 200px;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  align-items: center;
}

.convenios {
  height: 650px;
  background-image: url(../assets/Principal/Medicina2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.convenio1 {
  position: relative;
  height: 150px;
  width: 100px;
}

.convenio2 {
  position: relative;
  height: 150px;
  width: 100px;
}

.convenio3 {
  position: relative;
  height: 150px;
  width: 100px;
}

.convenio4 {
  position: relative;
  height: 150px;
  width: 100px;
}

.servicio_farmaceutico {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.consejeria_medica {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.Hospitalizacion_casa {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.odontologia {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.personal {
  height: 600px;
  background-color: #e3dac9;
}

.noticias {
  height: 600px;
}

.pie_pagina {
  width: 100%;
  height: 250px;
  margin: 0 auto;
  background-color: #5fd1b8;
}

.facebook {
  height: 40px;
  width: 40px;
}

.instagram {
  height: 40px;
  width: 40px;
}

.whatsapp {
  height: 40px;
  width: 40px;
}
